.background-image{
    width: 100%;
    height: 100%;
    margin: 0;
    animation: 1s show ease;
    
}

  
  @keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
  }
@media(max-width:900px){
  .background-image{
    width: 100vh;
  }
}