body{
  height: 100vh;
  background: linear-gradient(rgba(51, 20, 120, 1),rgba(24, 6, 63, 0.78));
}
.rating-title-area{
  display: flex;
  justify-content: center;
  margin-top:100px;
}

.rating-title{
  font-size: 64px;
  color: white;

}


.rating-content{
  width: 100%;

}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}
.image-sector{
  margin-top:-10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left:80px;
  margin-right:80px;
}
.plashka{
    width: 300px;
    height: 300px;
    margin-top: 150px;
  }

.bg-square{

  width: 300px;
  height: 300px;
  background-color: black;
  position: absolute;
  margin-left:50px;
}
.upp-square{
  width: 100%;
  height: 50%;
  background-color: white;
  position: relative;
  top:0px;  

}
.rating{
  text-align: right;
  padding-top:50px;
  font-size: 24px;
  width: 130px;
  text-align: center;
  position: relative;
  right: -180px;
  animation: 1s show ease; 
}
.player-image-area{
  position: relative;
  width: 180px;
  height: 310px;
  top:-170px ;
  left:-5px;
}
.player-img{
  height: 100%;
  width: 100%;
  animation: 1s show ease;  
}


.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  background-color: white;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  top:-280px;
  left:10px;
}
.incircle-number{
font-size: 40px;
animation: 1s show ease; 
}
.nickname{
  position: relative;
  color: white;
  top:-250px;
  left:15px;
  font-size: 28px;
  animation: 1s show ease; 

}
.team-logo-area{
  width: 130px;
  height: 140px;
  position: relative;
  top:-380px;
  right: -165px;

}
.team-logo{
  width: 100%;
  height: 100%;
  animation: 1s show ease; 
}

@media(max-width:900px){
  .header{
    z-index: 100;
  }
  .rating-title{
    font-size: 24px;
    text-align: center;
    margin-bottom:30px ;
  }
  .image-sector{
    grid-template-columns: 1fr;
  }
  .plashka{
    margin-top: 70px;
  }
  .image-sector{
    margin-left: 15px;
  }
}
@media(max-width:1920){

}