.subHeader_rules{
    text-align: center;
    font-size: 48px;
    position: relative;
    top: 30px;
    margin-top: 39px;
    margin-bottom: 39px;
}

.second-block-text{
    display: flex;
    margin: auto;
    margin-top: 80px;
    width: 970px;
    text-align: center;
    align-items: center;
    font-size: 24px;
}

.picture-area{
    width: 100%;
    display: flex;
    justify-content: center;
}

@keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .table-old{
    height: 550px;
    margin-top:50px; 
    animation: slide-in 1s ease-in-out;   
}

@media(max-width:900px){
  .second-block-text{
    display: flex;
    margin: auto;
    margin-top: 30px;
    width: 350px;
    text-align: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .table-old{
    width: 350px;
    height: 200px;
    margin-top: 15px;
  }
  .subHeader_rules{
    font-size: 24px;
    margin-top: -10px;
    margin-bottom: 40px;
  }
}