body{
    height: 100vh;
    background: rgba(24, 6, 63, 0.78);
}

.playoff-area{
    height: 100%;
    width: 100%;
    background-color: red;

}

.playoff-image{
    height: 100%;
    width: 100%;
}

.table-area{
    display: flex;
}

caption{
    border: 1px solid white;
    color: white;
}

table {
    border: 1px solid white;
    color: white;
    width: 600px;
    margin-left:55px; 
    margin-top:50px;  
 }

 td,th {
    border: 1px solid white;
    color: white;
    text-align: center;
    padding:12px;
 }

 .table-title{
    height: 50px;
    align-items: center;
    padding-top:25px;
    font-size: 24px;
 }

caption{
   height: 50px;
   padding-top:25px;
}

.team-table{
    margin-bottom: 80px;
}

.team-table tr:nth-child(1) {
    color: white;
  }
  .team-table tr:nth-child(2) {
    background-color: rgb(0, 128, 109);
    color: white;
  }
  .team-table tr:nth-child(3) {
    background-color: rgb(0, 128, 109);
    color: white;
  }
  .team-table tr:not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(1)) {
    background-color: rgb(56, 0, 27);
    color: white;
  }
  @media(max-width:1920px){
    .table-area{
      justify-content: center;
    }
  }