.tyblock{
    width: 100%;
    height:100%;
}
.tyimage{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.tytitle{
    position: relative;
    color: white;
    font-size: 48px;
    top:320px;
    right:250px;
    text-align: right;
}
.under-tytitle{
    position: relative;
    color: white;
    font-size: 24px;
    top:600px;
    text-align: center;
    left: 0px;
}
.under-tytitle2{
    position: relative;
    color: white;
    font-size: 24px;
    top:600px;
    text-align: center;
    left: 650px;
}
