.third-block{
    margin-top: 80px;
    width: 100%;
}
.third-block-bg{
    width: 100%;
    position: absolute;
}
.subHeader{
    text-align: center;
    font-size: 48px;
    position: relative;
    top:90px;
    color: white;
}
.win{
    text-align: center;
    font-size: 40px;
    position: relative;
    top:70px;
    color: greenyellow;
}
.lose{
    text-align: center;
    font-size: 40px;
    position: relative;
    top:70px;
    color: red;
}

.third-block-text{
    text-align: center;
    font-size: 24px;
    position: relative;
    top:100px;
    color: white;
}
@media(max-width:900px){
    .subHeader{
        font-size: 24px;
        top:20px;   
    }
    .win{
        font-size:18px ;
        top:10px;   
    }
    .lose{
        font-size: 18px;
        top:10px;   
    }
    .third-block-text{
        font-size: 14px;
        top:5px;
    }
    .third-block{
        height: 100vh;
    }
    .third-block-bg{
        width: 100%;
        height: 10px;
    }
}
@media (max-width: 900px) {
    .third-block-bg,
    .fifth-block-bg {
      max-height: 200px;
      object-fit: cover;
    }
    .third-block{
        max-height: 200px;
    }
  }